# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
coverage
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
.npm
.eslintcache

# Build/Output
dist
build/Release
*.tgz

# Environment
.env
.env.test

# Framework/Tools
.next
.nuxt
.yarn/
.pnp.*
